.mat-toolbar.mat-primary {position:sticky;top:0;z-index:1;}
.sidenav-container {height: 100%;}
.mat-drawer {width:200px;}
.hidden {display: none;}
.spacer {flex: 1 1 auto;}
.active-link {color: #ffc000;}