<section class="sidebar">
    <ul class="py-4">
        <ng-container *ngFor="let item of menu">
            <ng-container *ngIf="item.subMenu === undefined">
                <ng-container *ngIf="item.title">
                    <button mat-button class="w-100 text-start py-1" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon class="mx-1">{{ item.icon }}</mat-icon>
                        <span class="ms-1">{{ item.title }}</span>
                    </button>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="item.subMenu?.length > 0">
                <li>
                    <button mat-button class="w-100 text-start py-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon class="mx-1">{{ item.icon }}</mat-icon>
                        <span class="ms-1">{{ item.title }}</span>
                    </button>
                    <div class="submenu">
                        <li *ngFor="let data of item.subMenu">
                            <a class="py-2" [routerLink]="data.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ data.title }}</a>
                        </li>
                    </div>
                </li>
            </ng-container>
        </ng-container>
    </ul>






    <!-- <ul>
        <ng-container *ngFor="let item of menu">
            <ng-container *ngIf="item.subMenu === undefined">
                <li *ngIf="item.title">
                    <a [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <button mat-icon-button class="text-left"><mat-icon>{{ item.icon }}</mat-icon></button>
                        <span class="text-white">{{ item.title }}</span>
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="item.subMenu?.length > 0">
                <li><a href="#"><button mat-icon-button><mat-icon [style.color]="item.color">{{ item.icon}}</mat-icon></button></a>
                    <div class="submenu bg-white">
                        <li *ngFor="let data of item.subMenu">
                            <a [routerLink]="data.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                <button mat-icon-button><mat-icon [style.color]="data.color">{{ data.icon }}</mat-icon></button>
                                {{ data.title }}
                            </a>
                        </li>
                    </div>
                </li>
            </ng-container>
        </ng-container>
    </ul> -->
</section>