<nav class="navbar p-0">
    <div class="container-fluid">
        <a routerLink="/" routerlinkacitve="active" class="text-white">Logo</a>
        <div>
            <button mat-icon-button><mat-icon>search</mat-icon></button>
            <button mat-icon-button class="mx-2"><mat-icon>notifications</mat-icon></button>
            <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><mat-icon>account_circle</mat-icon></button>
            <mat-menu #beforeMenu="matMenu" xPosition="before" class="dropdownmenu">
                <button mat-menu-item><mat-icon class="mr-2">manage_accounts</mat-icon>Login</button>
                <div>
                    <button mat-menu-item><mat-icon class="mr-2">alternate_email</mat-icon>Profile</button>
                    <button mat-menu-item><mat-icon class="mr-2">power_settings_new</mat-icon>Log Out</button>
                </div>
            </mat-menu>
        </div>
    </div>
</nav>