<!-- <section class="banner">
    <swiper [slidesPerView]="'auto'" [spaceBetween]="0" [loop]="true" [navigation]="true" class="mySwiper">
        <ng-template swiperSlide *ngFor="let data of bannerList">
            <img [src]="data.posterimg">
            <caption>
                <h3>{{data.title}}</h3>
                <h4>{{data.description}}</h4>
            </caption>
        </ng-template>
    </swiper>
</section>

<mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" mat-align-tabs="start">
    <mat-tab label="Movie">
        <div class="container">
            Movies List
        </div>
    </mat-tab>
    <mat-tab label="Web series"><app-web-series></app-web-series></mat-tab>
</mat-tab-group>
   -->

   <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr No</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Rollno</th>
        <th scope="col">Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of studentList; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.age}}</td>
        <td>{{data.rollno}}</td>
        <td>{{data.subject}}</td>
      </tr>
    </tbody>
  </table>