@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";


html, body { height: 100%; }
body {margin:0;font-family: Roboto, "Helvetica Neue", sans-serif;}
img {max-width:100%;}
a, a:hover {text-decoration:none;}
.mat-icon-button i, .mat-icon-button .mat-icon {font-size:18px;width:auto;height:auto;line-height:inherit;}
ul,ol,li {margin:0;padding:0;list-style:none;}
p {color:#526d7a;font-size:14px;}
h3 {color:#758f9c;line-height:28px;font-size:20px;font-weight:700;margin:0;transition:all ease-in-out .3s;}
small {font-size:11px;color:#9e9e9e;}

//// Global Css
.mat-drawer-container {width:100%;height:calc(100vh - 65px);background:#263238;}
.pagetitle {position:relative;border-bottom:1px solid #ddd;
  h3 {display:inline-block;border-bottom:2px solid rgb(15, 106, 243);}
}





//// News List
.news {
  mat-tab-group {flex-direction:row-reverse !important;
    mat-ink-bar {display:none;}
    mat-tab-header {width:300px;background:#37474f;
      .mat-tab-labels {flex-direction: column;}
      .mat-tab-label {padding:0;height:auto;border-bottom:1px solid #242f34;border-top:1px solid #45545b;}
      .mat-tab-label.mat-tab-label-active {background:#455a64;}
      .mat-tab-label .mat-tab-label-content {width:100%;}
      .newsimg img {width:120px;height:60px;margin-right:20px;}
      .vidtitle {width:100%;padding:0 10px; text-align:left;color:#fff;
        h6 {font-size:14px;}
      }
    }
    .mat-tab-body-wrapper {width:100%;
      iframe {width:100%;}
    }
  }
}








@media screen and (max-width:959px) {
  mat-tab-group {flex-direction:column-reverse !important;}
  mat-tab-group mat-tab-header {width:100%;}
}