<footer class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="foo">
                    <h4>Address</h4>
                    <p>A 250 First Floor </p>
                    <p>Main Kalindi Kunj Road, Okhla</p>
                    <p>ABF Part II, New Delhi</p>
                    <p>IN, Lat: 28.55 Long: 77.30, 110025</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="foo">
                    <h4>Information</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Become a Mentor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="foo">
                <h4>Toturials</h4>
                <ul>
                    <li><a href="#">Learn English</a></li>
                    <li><a href="#">Total News</a></li><li><a href="#">Total Blogs</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Become a Mentor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="foo"><h4>Services</h4>
                <ul>
                    <li><a href="#">Learn English</a></li>
                    <li><a href="#">Total News</a></li>
                    <li><a href="#">Total Blogs</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Become a Mentor</a></li>
                </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="foo">
                    <h4>News Letters</h4>
                    <p>A 250 First Floor </p>
                    <p>Main Kalindi Kunj Road, Okhla</p>
                    <p>ABF Part II, New Delhi</p>
                    <p>IN, Lat: 28.55 Long: 77.30, 110025</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright py-3 text-center">
        <p>Copyright The Learning Tree. All right reserved © 2020</p>
    </div>
</footer>